{% extends "base.html" %}
{% block script %}
    <script src="/static/js/child-src-test.js"></script>
    <script type="text/javascript">
        function addTestReults(results){
            res = document.createElement('div');
            res.setAttribute('id', 'result');
            res.innerHTML = results;
            document.body.appendChild(res);
            // document.getElementById('result').innerHTML = results;
            console.log(results);
        }
    </script>
{% endblock %}

{% block body %}
    <script>
        {% if params.frame %}
            {% if params.allow %}
            injectFrame("/alert/pass", EXPECT_LOAD);
            {% else %}
            injectFrame("/alert/fail", EXPECT_BLOCK);
            {% endif %}
        {% endif %}

        {% if params.worker %}
            {% if params.allow %}
            injectWorker("/js/alert/pass", EXPECT_LOAD, WORKER);
            {% else %}
            injectWorker("/js/alert/fail", EXPECT_BLOCK, WORKER);
            {% endif %}
        {% endif %}

        {% if params.shared %}
            {% if params.allow %}
            injectWorker("/js/alert/pass", EXPECT_LOAD, SHARED_WORKER);
            {% else %}
            injectWorker("/js/alert/fail", EXPECT_BLOCK, SHARED_WORKER);
            {% endif %}
        {% endif %}
    </script>
{% endblock %}