{% extends "base.html" %}

{% block body %}
<pre id="console"></pre>
<script>
    function log(msg){
        document.getElementById("console").appendChild(document.createTextNode(msg + "\n"));
        console.log(msg);
    }

    function addTestReults(results){
        res = document.createElement('div');
        res.setAttribute('id', 'result');
        res.innerHTML = results;
        document.body.appendChild(res);
        console.log(results);
    }

    function testPassed(message){
        console.log("PASSED " + message);
        addTestReults('Pass');
    }

    function testFailed(message){
        console.log("Failed " + message);
        addTestReults('Fail');
    }

    try {
        {% if params.xhr %}
            var xhr = new XMLHttpRequest;
            xhr.open("GET", "/ping", true);
            xhr.send();
        {% elif params.beacon %}
            var es = navigator.sendBeacon("/echo", "blah");
        {% elif params.event %}
            var es = new EventSource("/events");
        {% elif params.websocket %}
            var ws = new WebSocket("ws://127.0.0.1:8000/echo");
        {% endif %}

        {% if params.allow %}
            // check if get response
            testPassed("Pass");
        {% else %}
            testFailed("Fail");
        {% endif %}
    } catch(e) {
        {% if params.allow %}
            testFailed("Fail");
        {% else %}
            testPassed("Pass");
        {% endif %}
    }
</script>
{% endblock %}